<footer id="footer">
  <div class="row middle-xs contact-footer">
      <div class="col-xs-12 col-md-6 center-xs start-md last-xs first-md pull-left">
          <div class="box">
              <p>© 2016 Bijunicat</p>
          </div>
      </div>
      <div class="col-xs-12 col-md-6 center-xs pull-right">
          <div class="box">
              <div class="social-footer">
                  <ul>
                      <li>
                          <a href="https://www.instagram.com/bijunicat/"><i class="fa fa-instagram"></i></a>
                      </li>
                      <li>
                          <a href="https://www.facebook.com/bijunicat/" target="_blank"><i class="fa fa-facebook"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
